body {
    /* Allow scrolling down a bit */
    padding-bottom: 150px;
    font-size: calc(10px + 1.5vw);
}

/* Add some spacing between elements */
.body-content-wrapper > * {
    padding: 15px;
}

.er-about-bio img {
    border-radius: 50%;
    width: 50%;
    height: 50%;
}

