/******* WAYS TO GIVE *********/
.ways-to-give,
.donation {
    border: solid 1.5px orange;
    border-radius: 50px;
    padding: 55px;
    margin: 20px;
}

.ways-to-give h3 {
    margin-bottom: 10px;
}

.ways-to-give ul,
.donation ul {
    padding-left: 30px;
    margin-bottom: 30px;
}

.ways-to-give li,
.donation li {
    font-size: 18px;
    margin: 10px;
}

.donation {
    display: flex;
    justify-content: space-between;
}

#donate-money {
    width: 500px;
    /* Don't dominate on smaller screens */
    max-width: 60%;
}

#donate-money p {
    margin-top: 20px;
    line-height: 30px;
}

#donate-btn {
    margin: 35px 0 0 350px;
}