.wrapper {
    margin: 75px 0 0 80px;
    width: 80%;
}
.row {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sub-details p {
    font-size: 13pt;
}

em {
    line-height: 35px;
    font-size: 11pt;
}

strong {
    font-size: 11pt;
    display: block;
    margin-top: 20px;
}

#bill-details {
    font-size: 11pt;
    margin-top: 5px;
    line-height: 20px;
}

#card1 {
    width: 45%;
    margin-right: 20px;
}

#card2 {
    width: 50%;
}

#pay-form-header {
    width: 100%;
    background-color:#8190e6;
    padding: 10px 0;
    text-align:center;
}

#payment-frm {
    padding: 10px;
}

.pay-form {
    border: 1px solid #8190e6;
}

#pay-line {
    display: flex;
    justify-content: space-between;
}

input[type=text],
input[type=email] {
    font-size: 15pt;
    margin-bottom: 20px;
    margin-top: 5px;
    height: 25px;
    border: 0;
    border-bottom: 2px solid #d8dcf1;
    width: 98%;
    color: #3949a3;
}
input[type=text]:focus,
input[type=email]:focus {
    transition: 900ms;
    outline: none;
    border-bottom: 2px solid #26316d;
}

#pay-exp {
    padding: 5px;
    margin: 10px 0;
    font-size: 11pt;
}
#pay-exp:hover {
    outline: none;
}

.pay-cell {
    margin: 5px;
}
#pay-cvv {
    margin-top: 14px;
}

#pay-submitButton {
    display: block;
    margin: auto;
}

#tick-icon {
    max-width: 15px;
    margin-top: 15px;
}

#er-star {
    color: red;
}
.error {
    margin: 10px;
}
